body{
  background-color: #877352;
}

#main{
  width: 960px;
  margin: 40px auto;
  padding: 40px 80px;
  border: green 1px solid;
  background-color: white;
}

.photo{
  float: left;
  margin-right: 30px;
}

.pic{
  content: "";
  clear: both;
  display: block;
}

.explanation{
  float: left;
}

dt{
  clear: left;
  float: left;
  font-weight: bold;
}
